<h1>hello</h1>

<table>
  <th>ID</th>
  <th>Nome</th>
  <th>Isolated</th>
  <th>Mounted at:</th>
  <th>Ação</th>
  <% @engines.each do |engine| %>
    <tr>
      <td><%= engine.id %></td>
      <td><%= engine.name %></td>
      <td><%= engine.isolated? %></td>
      <td><%= engine.mount_at %></td>
      <td>
        <%= link_to "mount!", mount_path(:name => engine.name, :at => engine.name) %>
        |
        <%= link_to "unmount!", unmount_path(:name => engine.name) %>
      </td>
    </tr>
  <% end %>
</table>
