<h1>hello</h1>

<table>
  <th>ID</th>
  <th>Nome</th>
  <th>Path</th>
  <th>Isolated</th>
  <th>Ação</th>
  <% @engines.each do |engine| %>
    <% $stdout.write "#{engine.inspect}\n" %>
    <%# $stdout.write "\n@@@@@@@@@@@@@@@@@@ #{engine.engine_name}\n#{engine.app.routes.inspect}\n" %>
    <%# $stdout.write "\n@@@@@@@@@@@@@@@@@@ \n#{Rails.application.routes.routes.inspect}\n" %>
    <tr>
      <td><%= engine.id %></td>
      <td><%= engine.name %></td>
      <td><%= engine.path %></td>
      <td><%= engine.isolated? %></td>
      <td><%= link_to "#" %></td>
    </tr>
  <% end %>
</table>
