<h1>hello</h1>

<table>
  <th>ID</th>
  <th>Nome</th>
  <th>Mounted at:</th>
  <th>Ação</th>
  <% @engines.each do |engine| %>
    <tr>
      <td><%= engine.id %></td>
      <td><%= engine.name %></td>
      <td><%= link_to(engine.mount_at, engine.mount_at, :target => "_blank") if engine.mount_at %></td>
      <% if engine.isolated? %>
        <td>
          <%= link_to "mount", mount_path(:name => engine.name, :at => engine.name) %>
          |
          <%= link_to "unmount", unmount_path(:name => engine.name) %>
        </td>
      <% else %>
        <td>Engine have to isolated to mount/unmount</td>
      <% end %>
    </tr>
  <% end %>
</table>
